<form [formGroup]="issueForm">
  <mat-vertical-stepper [linear]="true" #stepper formArrayName="issueFormArray">
    <mat-step formGroupName="0" [stepControl]="issueFormArray?.get([0])">
      <ng-template matStepLabel>Fill out Issue Details</ng-template>
      <mat-form-field class="full-width">
        <input matInput placeholder="Title" formControlName="title" required>
        <mat-error>
          Title is Required
        </mat-error>
      </mat-form-field>
      
      <mat-form-field class="full-width">
        <textarea matInput class="bigArea" placeholder="Description" formControlName="description" required></textarea>
        <mat-error>
          Description is Required
        </mat-error>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>
    <mat-step formGroupName="1" [stepControl]="issueFormArray?.get([1])">
      <ng-template matStepLabel>Attach Screenshot</ng-template>
      <input formControlName="screenshot" required>
      <mat-error>
        Screenshot is required!
      </mat-error>
      <div>
        <button mat-button matStepperPrevious type="button">Previous</button>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>
    <mat-step formGroupName="2" [stepControl]="issueFormArray?.get([2])">
      <ng-template matStepLabel>Add Description For Template</ng-template>
      <angular-editor formControlName="editorContent" [config]="editorConfig"></angular-editor>
    </mat-step>
  </mat-vertical-stepper>
  <button mat-raised-button color="primary" (click)="createIssue()"> Create Issue </button>
</form>