<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="issueForm">
    <form [formGroup]="issueForm">
      <ng-template matStepLabel>Fill out Issue Details</ng-template>
      <mat-form-field class="full-width">
        <input matInput placeholder="Title" formControlName="title" required>
        <mat-error *ngIf="issueForm.get('title').hasError('required')">
            Title is Required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <textarea matInput class="bigArea" placeholder="Description" formControlName="description" required></textarea>
        <mat-error *ngIf="issueForm.get('description').hasError('required')">
            Description is Required
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="issueForm2">
    <form [formGroup]="issueForm2">
      <ng-template matStepLabel>Attach Screenshot</ng-template>
          <label class="custom-file-upload">Upload File
            <input formControlName="screenshot" type="file" required>
          </label>
        <mat-error *ngIf="issueForm2.get('screenshot').hasError('required')">
            <strong>Screenshot is required!</strong>
        </mat-error>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>