<div class="signup-card">
  
    <div class="example-header-image">
      <img src="assets/img/signup.png"/>
    </div>
    <h3>Register Here!!!</h3>
  
  
    <form class="signup-form" [formGroup]="signupform" (ngSubmit)="registerUser()">
        
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Full Name" formControlName="name">
          <mat-error *ngIf="signupform.get('name').hasError('required')">
              <strong>Full name is Required</strong>
            </mat-error>
      </mat-form-field>
      
      <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="email"
              [errorStateMatcher]="matcher">
              <mat-error *ngIf="signupform.get('email').hasError('required') && signupform.get('email').hasError('required')">
                Please enter a valid email address
              </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" type="password" formControlName="password" />
            <mat-error *ngIf="signupform.get('password').hasError('required')">
              Password is mandatory
            </mat-error>
            <mat-error *ngIf="signupform.get('password').hasError('pattern')">
              <strong>Password must contain atleast the following: 
                1 Number 1 Upper Case
                    1 Lower Case
                    1 Special Character
              </strong> 
            </mat-error>
            <mat-hint>Password must have minimum 8 characters</mat-hint>
      </mat-form-field>
      
      <button mat-raised-button color="primary" [disabled]="signupform.invalid">Submit</button>

  </form>
</div>
